<div class ="left-container">


<form action ="/createPost" method="POST">
   
<textarea placeholder= "Type Here.....!" name="post"  cols="70" rows="4">
</textarea>
   
<button type ="submit"> Post </button>

   
 </form>
   
</div>