
 <link rel ="stylesheet" type ="text/css" href="/css/sign.css"/>


<div class ="sign">


<form method="POST" action="/users/createAccount">
   Name:<input type="text" name ="name" placeholder="Enter your name please">
   <br/> Mail:<input type="email" name ="email" placeholder="abc@gmail.com">
   <br/> Pass:<input type="password" name ="password" placeholder="enter your password">
<br/> <button type="submit"> Sign In</button>
</form>


</div>